.app {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 5% 85% 10%;
}

.main {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
}
