@import "../../Styles/colours.scss";

.table {
  border-collapse: collapse;
  background-color: $colour-neutral-secondary;
  border-radius: 10px;
  overflow: hidden;

  .table__image {
    width: 2em;
    height: auto;
    border-radius: 50%;
  }

  th {
    padding: 0.5em;
    background-color: $colour-medium-primary;
    text-align: left;
  }

  td {
    padding: 0.5em;
  }

  tbody {
    tr {
      cursor: pointer;
    }

    tr:hover {
      color: black;
      background-color: lighten($colour-medium-primary, 10%);
      opacity: 0.6;
    }
  }
}
