@import "../../Styles/colours.scss";

.table {
  border-collapse: collapse;
  background-color: $colour-neutral-secondary;

  th {
    padding: 0.5em;
    background-color: rgba(88, 88, 88, 0.5);
    text-align: left;
  }

  td {
    padding: 0.5em;
  }

  tr {
    border-bottom: 1px solid black;
    cursor: pointer;
  }

  tr:hover {
    background-color: rgba(88, 88, 88, 0.3);
  }
}
