@import '../../Styles/colours.scss';

.btnContainer {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: row;

  .btn {
    width: 10vw;
    padding: 1em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  .btn--primary {
    background-color: $colour-highlight-primary;
    color: white;
  }

  .btn--primary:hover {
    background-color: $colour-neutral-secondary;
  }

  .btn--secondary {
    background-color: $colour-highlight-secondary;
    color: white;
  }

  .btn--primary:hover {
    background-color: $colour-neutral-secondary;
  }
}
